* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
}

main {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    box-sizing: border-box;

}

marquee {
    font-size: 18px;
    color: red;
    font-weight: bold;
}

table {
    border: 1px solid gray;
    padding: 10px 5px;
    margin: 20px 0;
    box-shadow: 4px 0px 6px 6px;
}

table caption {
    font-size: 1.5em;
    margin: .55em 0.80em;
}

table tr {
    padding: 0.35em;
}

table tr td {
    padding: 10px 5px;
}

table thead th {
    text-align: left;
    font-size: 1.2em;
    letter-spacing: .1em;
    text-transform: uppercase;
    padding-left: 7px;
}

table tbody {
    text-align: left;
    /* cellspacing: 5 0; */
}

tbody tr:nth-child(even) {
    background-color: #cce;
}

tbody tr:nth-child(odd) {
    background-color: #ee8;
}

.tbody-2 tr:nth-child(even) {
    background-color: rgb(54, 123, 126);
}

.tbody-2 tr:nth-child(odd) {
    background-color: rgb(191, 197, 197);
}

/* styling the second column */
tbody > tr>:nth-child(2) {
    color: #000;
    padding-left: 7px;
}

table tfoot tr td {
    text-align: center;
    /* padding: 5px; */
}

span {
    color: red;
    font-style: italic;
    font-weight: 700;
}

footer {
    background: #c1c1c1;
    padding: 10px 0;
    margin-top: 20px;
}

p {
    text-align: center;
}

a {
    text-decoration: none;
}

.next-page {
    display: flex;
    align-items: center;    
    width: 90px;
    /* border: 1px solid;    */
    margin-left: auto ;  
    font-weight: 700; 
}
 
fa {
    border: 1px solid;
}

.previous-page {
    font-weight: 700;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }

     
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
}
